/* Home.css */
.home-container {
  display: flex;
   
  flex-direction: row;
  width: 100%;
  /* height: 100vh; */
  height: calc(100vh - 60px);
  background-color: rgb(245, 247, 246);
  /* 确保容器占满全宽 */
}

.tree-view {
  transition: width 0.3s ease;
  /* 添加过渡效果 */
  overflow: hidden;
  /* 隐藏溢出内容 */
}

.tree-view.collapsed {
  width: 15px;
  /* 折叠状态的宽度 */
}

.tree-view.expanded {
  width: 250px;
  /* 展开状态的宽度 */
}

.tree-toggle {
  cursor: pointer;
  user-select: none;
  /* 防止文本选中 */
  margin: 5px;
  /* 添加一些边距 */
}

.tree-ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  /* 使用 Flexbox 布局 */
  flex-direction: column;
  /* 设置为上下排列 */
}

.tree-li {
  margin: 5px 0;
}

.tree-sub-ul {
  list-style-type: none;
  padding-left: 20px;
  /* 子项缩进 */
  display: flex;
  /* 确保子项也使用 Flexbox */
  flex-direction: column;
  /* 子项上下排列 */
}

.tree-link {
  text-decoration: none;
  color: #007bff;
  /* 链接颜色 */
}

.tree-link:hover {
  text-decoration: underline;
}

.content-area {
  flex: 1;
  /* 让内容区域占满剩余空间 */
  padding: 10px;
  /* 添加内边距 */
}