 

.twelfth-demo-container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1d1928;
}

 

.twelfth-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 350px;
    height: 450px;
    border-radius: 20px;
    background-color: #4471a3;
    box-shadow: 15px 15px 10px rgba(33, 45, 58, 0.3);
    overflow: hidden;
    position: relative;
}

.twelfth-container form {
    width: 350px;
    height: 200px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    z-index: 1;
}

.twelfth-tbx {
    width: 250px;
    height: 40px;
    outline: none;
    border: none;
    border-bottom: 1px solid #fff;
    background: none;
    color: rgb(55, 224, 154);
    font-size: 15px;
}

.twelfth-tbx::placeholder {
    color: rgb(255, 255, 255);
    font-size: 15px;
}

.twelfth-sub {
    width: 250px;
    height: 40px;
    outline: none;
    border: 1px solid #fff;
    border-radius: 20px;
    letter-spacing: 5px;
    color: #fff;
    background: none;
    cursor: pointer;
    margin-top: 20px;
}

.twelfth-container h1 {
    color: #ecf0f1;
    font-size: 50px;
    letter-spacing: 5px;
    font-weight: 100;
    text-shadow: 5px 5px 5px rgba(33, 45, 58, 0.3);
    z-index: 1;
}

.twelfth-container span {
    position: absolute;
    border-radius: 50%;
    background: #cf455f;
    pointer-events: none; /* 防止span干扰鼠标事件 */
}

.twelfth-container .in {
    width: 0;
    height: 0;
    animation: in 0.5s ease-out forwards;
}

.twelfth-container .out {
    width: 1200px; /* 根据需要调整 */
    height: 1200px; /* 根据需要调整 */
    animation: out 0.5s ease-out forwards;
}

@keyframes in {
    0% {
        width: 0;
        height: 0;
    }
    100% {
        width: 1200px; /* 根据需要调整 */
        height: 1200px; /* 根据需要调整 */
    }
}

@keyframes out {
    0% {
        width: 1200px; /* 根据需要调整 */
        height: 1200px; /* 根据需要调整 */
    }
    100% {
        width: 0;
        height: 0;
    }
}
