.fifth-demo-container {
  background-color: rgb(245, 247, 247);
  height: 100%;
  width: 100%;
  background-color: aqua;
}
.fifth-icon {
    width: 2em;
    height: 2em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
  }